#dataTable{
    margin: 0 auto;
}

body{
    background-color: #444444;
    color: #ffca00;
    text-transform: uppercase;
}

#title-station{
text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
}

#dataTable thead{
    color: white;
}
tr{
    height: 40px;
    text-align: left;
}

td{
    border-bottom: #333 3px solid;

}

.cln-2{
    min-width: 200px;
}

.cln-1, .cln-3, .cln-4{
    width: 130px;
}

th{

}

.timetable-container{
    margin-top: 100px;
}

.hidden{
    display: none;
}

#tabs-container{
    display: flex;
    margin: 0 auto;
    width: fit-content;
    color: gray;
    margin-bottom: 20px;
}

.tab{
    margin: 5px 10px;
}

.tab.selected{
    text-decoration: underline;
}

.timetable-section{
    margin: 0 auto;
}